<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Login</h1>
<form id="login-form">
    <label for="username">Username:</label>   
    <input type="text" id="login-username" name="username" required><br>  <!-- the name MUST be username -->
   
    <label for="password">Password:</label>
    <input type="password" id="login-password" name="password" required><br>    <!-- the name MUST be password -->
    <button type="submit" id="login-button">Login</button>
</form>
<p id="message"></p>

<script>
    const loginForm = document.getElementById('login-form');
    loginForm.addEventListener('submit', loginUser);

    function loginUser(event) {
        event.preventDefault(); // Prevent default form submission

        
        const username = document.getElementById('login-username').value;
        const password = document.getElementById('login-password').value;
        console.log(username, password);

        const data = {
            username,
            password
        };    

        const csrftoken = document.cookie.replace(/(?:(?:^|.*;)\s*csrftoken\s*=\s*([^;]*).*$)/i, '$1'); // CSRF Token for authentication, taken from the kookies
        fetch('/api/login/', {
            method: 'POST', 
            headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken }, // MUST add the Content-Type and X-CSRFToken headers in your request
            body: JSON.stringify(data) 
        })
        .then(response => {
            if (response.ok) {
                
                console.log("Login successful");
                
                window.location.href = "/";
            } else {
                console.error("Login failed");
                console.log(response)
                const messageElement = document.getElementById('message');
                messageElement.textContent = "Login failed. Please try again.";
            }
        })
        .catch(error => {
            console.error('Error:', error);
            const messageElement = document.getElementById('message');
            messageElement.textContent = "An error occurred. Please try again.";
        });
    }
</script>

</body>
</html>